@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
#truong{
    background-color: gray;
    margin-top: 5%; 
}
#mua:hover{
    color: red;
}
#vong11:hover{
    color: red;
}
#tuantruong:hover{
    color: red;
}
#var:hover{
    color: red;
}
#tuananh:hover{
    color: red;
}
#cahn:hover{
    color: red;
}
#ho:hover{
    color: red;
}
#pre:hover{
    color: red;
}
#bun:hover{
    color: red;
}#la:hover{
    color: red;
}
#vle:hover{
    color: red;
}
   